{% extends "layout.html" %}

{% block content %}


<div id="outercontainer">
    <div id="container">
        <div id="header">
            <h2>News Feels</h2>     
        </div>
        <div id="choices">
            <form name="preferences" method="post" action="/">
                <span class="smalltext">URL OR TEXT</span>
                <div id="choice1">
                    <input class="btn" type="text" name="weblink">
                </div>

                <span class="smalltext">BEAT OR SONG?</span>

                <div id="choice4">
                    <input class="btn btn-primary" type="submit" name="soundType" value="Beat">
                    <input class="btn btn-primary" type="submit" name="soundType" value="Song"> 
                </div>
            </form>             
        </div>
    </div>
</div>

{% endblock %}
