{% extends "layout.html" %}

{% block content %}


<div id="outercontainer">

<div id="container">

    <div id="header">
        <h2>News Feels</h2>     

    </div>

    <div id="choices">
    <form name="preferences" method="post">
        <span class="smalltext">URL?</span>
        <div id="choice1">
            <input class="btn" type="text" name="weblink">
        </div>
        <span class="smalltext">SCROLL SPEED BB?</span>
        <div id="choice2" class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn btn-primary">Slow</button>
            <button type="button" class="btn btn-primary">Medium</button>
            <button type="button" class="btn btn-primary">Fast</button>
        </div>
        <br>
        <span class="smalltext">BEAT OR SONG?</span>
        <br>
        <div id="choice3" class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn btn-primary">Beat</button>
            <button type="button" class="btn btn-primary">Song</button>
        </div>
        <br>                
        <div id="choice4">
            <input class="btn" type="submit" value="Submit"> 
        </div>
        
    </form>             
    </div>

</div>

</div>

{% endblock %}
