{% extends "layout.html" %}
{% block content %}




<div class='header-title'>
    <h2>Your Article</h2>     
</div>

<script>
window.onload = function(){
	if('{{soundtype}}' == "beat"){
		SentimentSongCreator.createSound({{sentiment}}, 75, 60)
	}
}
	
</script>



<h4 style="text-align:center">
  Sentiment (-1 to 1): {{sentiment}}
</h4>


<div class="article-area">
	<h4>
	  Your link: {{text}}
	</h4>
</div>

{% if soundtype == 'song' %}
	<audio autoplay>
	  <source src={{songUrl}} type="audio/mpeg">
	</audio>
{% endif %}

{% endblock %}
