{% extends "layout.html" %}
{% block content %}




<div class='header-title'>
    <h2>Your Music</h2>     
</div>

<script>
window.onload = function(){
	if('{{soundtype}}' == "beat"){
		SentimentSongCreator.createSound({{sentiment}}, 75, 60)
	}
}
	
</script>



<h4 style="text-align:center">
  Sentiment (-1 to 1): {{sentiment}}
<h3>
  Your music should play, now. Enjoy your reading.
</h3>


<div class="article-area">
	<h3 style="text-align:center;">
	  Your link
	</h3>
	<p>
		{{text}}
	</p>
	
</div>

{% if soundtype == 'song' %}
	<audio autoplay>
	  <source src={{songUrl}} type="audio/mpeg">
	</audio>
{% endif %}

{% endblock %}
